<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "CHIMAERA", welcome_path, id: "logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Play Now", game_path, class: "btn btn-lg btn-primary" %></li>
        <li><%= link_to "Oracle", oracle_path, class: "btn btn-lg btn-primary" %></li>
        <li><%= link_to "About", about_path, class: "btn btn-lg btn-primary" %></li>
      </ul>
    </nav>
  </div>
</header>